<!doctype html>
<title>Home A2</title>
<h1>Software Engineering CS305</h1>
<h1>Name: Anant Dhakad</h1>
<h1>Enrollment no. : 2019CSB1070</h1>
<h2>
<br>
<a href="http://127.0.0.1:5001/add_face/" target="_blank">/add_face/</a>
<br>
<br>
<a href="http://127.0.0.1:5001/add_faces_in_bulk/" target="_blank">/add_faces_in_bulk/</a>
<br>
<br>
<a href="http://127.0.0.1:5001/search_faces/" target="_blank">/search_faces/</a>
<br>
<br>
<a href="http://127.0.0.1:5001/get_face_info/" target="_blank">/get_face_info/</a>
<br>
<br>
</h2>
    